## Pyspark grouby and aggregate functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [5]:
df_pyspark=spark.read.csv('test5.csv', sep=';', header=True, inferSchema=True)
df_pyspark.show()

+-----+------------+------+
| Name| Departments|Salary|
+-----+------------+------+
|  Max|Data Science| 10000|
|Abdel|         IOT|  5000|
| Manu|    Big Data|  4000|
| Paul|    Big Data|  4000|
|Kevin|Data Science|  3000|
|Jonas|Data Science| 20000|
| Paul|         IOT| 10000|
|Abdel|    Big Data|  5000|
| Manu|Data Science| 10000|
|  Max|    Big Data|  2000|
+-----+------------+------+

In [7]:
# GroupBy
# Grouped to find max salaray
df_pyspark.groupBy('Name').sum().show()

+-----+-----------+
| Name|sum(Salary)|
+-----+-----------+
| Manu|      14000|
|Abdel|      10000|
|Kevin|       3000|
|Jonas|      20000|
|  Max|      12000|
| Paul|      14000|
+-----+-----------+

In [8]:
# Groupby departments which gives max salaray
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [9]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [10]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [12]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [15]:
df_pyspark.groupBy('Name').max().show()

+-----+-----------+
| Name|max(Salary)|
+-----+-----------+
| Manu|      10000|
|Abdel|       5000|
|Kevin|       3000|
|Jonas|      20000|
|  Max|      10000|
| Paul|      10000|
+-----+-----------+