In [5]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

In [6]:
pd.read_csv('test1.csv', sep=';')

    Name  Age
0    Max   30
1  Abdel   32
2   Manu   31

In [8]:
spark = SparkSession.builder.appName('Practise').getOrCreate()
spark

In [13]:
df_pysaprk = spark.read.csv('test1.csv', sep=';')
df_pysaprk.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
|  Max| 30|
|Abdel| 32|
| Manu| 31|
+-----+---+

In [15]:
df_pysaprk = spark.read.option('header', 'true').csv('test1.csv', sep=';')
df_pysaprk.show()

+-----+---+
| Name|Age|
+-----+---+
|  Max| 30|
|Abdel| 32|
| Manu| 31|
+-----+---+