## Pyspark Dataframes
- Filter Operation
- &, | , ==
- ~

In [1]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [6]:
df_pyspark=spark.read.csv('test4.csv', sep=';', header=True, inferSchema=True)
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|  Max| 31|        10| 30000|
|Abdel| 30|         8| 25000|
| Manu| 29|         4| 20000|
| Paul| 24|         3| 20000|
|Kevin| 21|         1| 15000|
|Jonas| 23|         2| 18000|
+-----+---+----------+------+

### Filter operations

In [7]:
# Salaray of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Manu| 29|         4| 20000|
| Paul| 24|         3| 20000|
|Kevin| 21|         1| 15000|
|Jonas| 23|         2| 18000|
+-----+---+----------+------+

In [8]:
df_pyspark.filter("Salary<=20000").select(['Name', 'Age']).show()

+-----+---+
| Name|Age|
+-----+---+
| Manu| 29|
| Paul| 24|
|Kevin| 21|
|Jonas| 23|
+-----+---+

In [9]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Manu| 29|         4| 20000|
| Paul| 24|         3| 20000|
|Kevin| 21|         1| 15000|
|Jonas| 23|         2| 18000|
+-----+---+----------+------+

In [12]:
df_pyspark.filter((df_pyspark['Salary']<=20000) |
                  (df_pyspark['Salary']>=15000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|  Max| 31|        10| 30000|
|Abdel| 30|         8| 25000|
| Manu| 29|         4| 20000|
| Paul| 24|         3| 20000|
|Kevin| 21|         1| 15000|
|Jonas| 23|         2| 18000|
+-----+---+----------+------+

In [14]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show() # inverse opaertion like ! in c

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|  Max| 31|        10| 30000|
|Abdel| 30|         8| 25000|
+-----+---+----------+------+